@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins.ttf") format("truetype");
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    overflow: hidden; /* Prevent multiple scrollbars */
}

body {
    background-image: url('../media/galaxybg.png');
    color: #fff;
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.logo img{
    width: 90px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.7rem;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #a9f8fb;
}

/* Hero Section */
.home {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden; /* Ensures no content spills */
}

h1.header1{
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 5rem;
    margin-bottom: 0.5rem;
    position: relative;
    z-index: 1;
    margin-top: 7%;
}

h2.devname {
    font-size: 5.5rem;
    font-weight: 600;
    font-style: italic;
    color: #e0e0ff;
    /* text-shadow: 0px 0px 2px #e0e0ff; */
    margin-bottom: 1rem;
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

p.jobtitle {
    font-size: 1.6rem;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 4.80px;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

/* Profile Image */
.profile-image {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -2rem; /* Adjust this value as needed to achieve the desired overlap */
    z-index: 2;
}

.profile-image img {
    width: 600px;
    z-index: 2;
}

/* Section Headers */
h1.title{
    font-size: 4.5rem;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 1rem;
    text-align: center;
}

h1.title-about{
    font-size: 4.5rem;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 1rem;
    text-align: center;
}

/* About Section */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem;
    
}

.about .text {
    flex: 1;
    padding-right: 2rem;
    text-align: center; /* Center-align the about-text */
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
    margin: 100px;
    align-content: center;
    margin-top: 2rem;
    
}

.about .social-links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.about .social-icon {
    margin-top: 2rem;
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.about .social-icon:hover {
    transform: scale(1.1);
}

.about .image {
    flex: 1;
    text-align: center;
}

.about .image img {
    max-width: 100%;
    height: auto;
}

img.divider1{
    margin-top: -20rem; /* Adjust this value as needed to achieve the desired overlap */
    margin-bottom: -5rem;
    z-index: 2;
    position: relative;
    top: 80%
}

img.divider2{
    margin-top: -20rem; /* Adjust this value as needed to achieve the desired overlap */
    margin-bottom: -20rem;
    z-index: 2;
    position: relative;
    top: 80%
}

/* Projects Section */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: background .4s ease-in;
}

.projects input[type=radio] {
    display: none;
}

.projects .card {
    position: absolute;
    width: 70%; /* Increase width for larger cards */
    height: 100%;
    transition: transform .4s ease;
    cursor: pointer;
}

.card .description {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.card:hover .description {
    display: block;
}

.projects .container {
    width: 100%;
    max-width: 1000px; /* Increase max-width for larger container */
    max-height: 700px; /* Increase max-height for larger container */
    height: 500px; /* Ensure the container has a defined height */
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure no scrollbars */
    height: auto; 
}

.projects img {
    width: 100%; /* Adjust width to fit container */
    height: 70%;
    border-radius: 10px;
    object-fit: fill;
    object-position: top; /* Show the top of the image */
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.projects #item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2,
#item-1:checked ~ .cards #song-4, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translateX(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

.projects #item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-4,
#item-4:checked ~ .cards #song-1 {
    transform: translateX(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

.projects #item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3,
#item-4:checked ~ .cards #song-4 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}

.projects .player {
    background-color: #fff;
    border-radius: 8px;
    min-width: 320px;
    padding: 16px 10px;
    margin-top: 20px; /* Add margin to separate the player from the carousel */
    width: 40%; /* Increase width for larger player */
    text-align: center; /* Center the text inside */

}

.projects .upper-part {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    height: 60px; /* Increase height to fit content */
    overflow: hidden;
}

.projects .song-info {
    width: 100%; /* Expand the song-info area */
    display: block;
    max-width: 100%; /* Ensure it takes full width */
}

.projects .song-info .title {
    color: #403d40;
    font-size: 18px; /* Increase font size */
    line-height: 26px;
}

.projects .sub-line {
    display: flex;
    justify-content: center; /* Center the subtitle */
    margin-top: 3px;
    width: 100%;
}

.projects .subtitle, .time {
    font-size: 16px; /* Increase font size */
    line-height: 22px; /* Adjust line height */
    align-content: center;
    color: #c6c5c6;
}

.projects .subtitle {
    white-space: normal; /* Ensure the full subtitle is visible */
    text-align: center; /* Center the subtitle text */
    margin-bottom: 5px;
}

.projects .progress-bar {
    height: 3px;
    width: 100%;
    background-color: #e9efff;
    border-radius: 2px;
    overflow: hidden;
}

.projects .progress {
    display: block;
    position: relative;
    width: 60%;
    height: 100%;
    background-color: #2992dc;
    border-radius: 6px;
}

.projects .info-area {
    width: 100%;
    position: absolute;
    top: 0;
    transition: transform .4s ease-in;
}

.projects #item-1:checked ~ .player #test {
    transform: translateY(0);
}

.projects #item-2:checked ~ .player #test {
    transform: translateY(-60px); /* Adjust translation for increased height */
}

.projects #item-3:checked ~ .player #test {
    transform: translateY(-120px); /* Adjust translation for increased height */
}

.projects #item-4:checked ~ .player #test {
    transform: translateY(-180px); /* Adjust translation for increased height */
}

/* Languages/Stack Carousel */
.language {
    width: 75%;
    height: 100%; /* Adjust height as needed */
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    position: relative;
}

.language .language-inner {
    display: flex;
    width: 100%;
    animation: scroll 20s linear infinite; /* Adjust animation speed as needed */
    justify-content: center; /* Center align the items */
    margin: auto; /* Center the carousel */
}

.language .language-item {
    flex: 0 0 auto;
    overflow: hidden;
    width: auto; /* Adjust width as needed */
}

.language .language-item img {
    position: relative;
    width: auto;
    height: 80px; /* Adjust height as needed */
    margin: 0 50px; /* Add margin between items */
    object-fit: contain;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 12));
    }
}

/* Contact Section */
.contact .logo {
    display: block;
    margin: 0 auto;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%; /* Ensure the form takes full width */
    max-width: 600px; /* Set a max-width for the form */
    margin-left: auto;
    margin-right: auto;
}

.contact form label {
    margin-top: 1rem;
    font-size: 1.2rem;
    width: 100%; /* Ensure the label takes full width */
    text-align: left; /* Align text to the left */
}

.contact form input,
.contact form textarea {
    width: 100%; /* Ensure the input and textarea take full width */
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: 1.25rem;
    background-color: transparent;
    color: #fff;
    border-bottom:2px solid #a9f8fb;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}

.contact form button {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    font-size: 1.2rem;
    color: #000000;
    background-color: #a9f8fb;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
    z-index: 1; /* Ensure the button is above other elements */
}

.contact form button:hover {
    background-color: #edbfc6;
}

/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-left: 0;
        margin-top: 1rem;
    }

    .home {
        padding: 0 1rem;
    }

    h1.header1 {
        font-size: 2.5rem;
    }

    h2.devname {
        font-size: 2.5rem;
    }

    p.jobtitle {
        font-size: 1rem;
    }

    .profile-image {
        width: 150px;
    }

    .about {
        flex-direction: column;
        text-align: center;
    }

    .about .text {
        padding-right: 0;
        margin-bottom: 2rem;
    }

    .projects .container {
        max-width: 100%;
        max-height: auto;
        height: auto;
    }

    .projects .card {
        width: 100%;
    }

    .projects .player {
        width: 100%;
    }

    .language .language-inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .language .language-item {
        margin: 10px;
    }

    .contact form {
        width: 90%;
    }
}

@media (max-width: 480px) {
    h1.header1 {
        font-size: 2rem;
    }

    h2.devname {
        font-size: 2rem;
    }

    p.jobtitle {
        font-size: 0.9rem;
    }

    .profile-image {
        width: 100px;
    }

    .about .text {
        font-size: 1rem;
    }

    .projects .container {
        max-width: 100%;
        max-height: auto;
        height: auto;
    }

    .projects .card {
        width: 100%;
    }

    .projects .player {
        width: 100%;
    }

    .language .language-inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .language .language-item {
        margin: 5px;
    }

    .contact form {
        width: 90%;
    }
}

footer {
    position: relative;
    z-index: 2;
    text-align: center;
    opacity: 0.25;
    font-size: 0.9rem;
    bottom: 0;
    margin-top: -2rem; /* Adjust this value as needed to achieve the desired overlap */
}

img.bottom-blob {
    position: relative;
    width: 100%;

    margin-top: -5rem;
}