.section {
    position: relative;
    width: 1980px;
    height: 1408px;
}

.section .navbar {
    position: absolute;
    width: 917px;
    height: 46px;
    top: 41px;
    left: 1018px;
    box-shadow: 0px 4px 50px #a9f8fb33;
}

.section .text-wrapper {
    left: 706px;
    position: absolute;
    width: 203px;
    height: 46px;
    top: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: -1.08px;
    line-height: 45.6px;
}

.section .div {
    left: 457px;
    position: absolute;
    width: 203px;
    height: 46px;
    top: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: -1.08px;
    line-height: 45.6px;
}

.section .text-wrapper-2 {
    position: absolute;
    width: 198px;
    height: 46px;
    top: 0;
    left: 213px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: -1.08px;
    line-height: 45.6px;
}

.section .text-wrapper-3 {
    position: absolute;
    width: 167px;
    height: 46px;
    top: 0;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 36px;
    text-align: center;
    letter-spacing: -1.08px;
    line-height: 45.6px;
}

.section .overlap {
    position: absolute;
    width: 978px;
    height: 863px;
    top: 97px;
    left: 507px;
}

.section .header {
    position: absolute;
    width: 966px;
    height: 148px;
    top: 74px;
    left: 0;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 128px;
    text-align: center;
    letter-spacing: -3.84px;
    line-height: 162.1px;
    white-space: nowrap;
}

.section .center-image {
    position: absolute;
    width: 971px;
    height: 863px;
    top: 0;
    left: 7px;
}

.section .overlap-group {
    position: relative;
    height: 863px;
}

.section .pinkblob {
    position: absolute;
    width: 502px;
    height: 326px;
    top: 182px;
    left: 354px;
}

.section .purpleblob {
    position: absolute;
    width: 289px;
    height: 289px;
    top: 498px;
    left: 591px;
    background-color: #a06cd5;
    border-radius: 144.62px;
    filter: blur(75px);
}

.section .blueblob {
    position: absolute;
    width: 516px;
    height: 481px;
    top: 277px;
    left: 56px;
}

.section .profilepic {
    position: absolute;
    width: 971px;
    height: 863px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.section .dev-name {
    position: absolute;
    width: 914px;
    height: 144px;
    top: 642px;
    left: 26px;
    font-family: "Poppins-SemiBoldItalic", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    letter-spacing: -3px;
    line-height: 126.7px;
    white-space: nowrap;
}

.section .job-title {
    position: absolute;
    width: 966px;
    height: 37px;
    top: 783px;
    left: 0;
    font-family: "Poppins-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 4.8px;
    line-height: 40.5px;
    white-space: nowrap;
}

.section .logo {
    position: absolute;
    width: 107px;
    height: 78px;
    top: 41px;
    left: 89px;
    object-fit: cover;
}
